body {
margin: 0;
padding: 0;
height: 100%;
background: -webkit-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -webkit-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -webkit-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -webkit-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background: -moz-radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), -moz-radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), -moz-radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), -moz-radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
background: radial-gradient(center, circle farthest-corner, rgba(255,255,255,0) 50%, rgba(200,200,200,1)), radial-gradient(center, circle, rgba(255,255,255,.35), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 21%), radial-gradient(center, circle, rgba(0,0,0,.2), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 21%), radial-gradient(center, circle farthest-corner, #f0f0f0, #c0c0c0);
-webkit-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
-moz-background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
background-size: 100% 100%, 10px 10px, 10px 10px, 100% 100%;
background-repeat: repeat;
background-position: top center, 1px 1px, 0px 0px, top center;
}
#canvas {
    cursor: crosshair;    
}

.save {
  margin-top: 10px;
}

button {
  margin-left: 5px;
  margin-bottom: 10px;
}

.workspace {
	font: 14pt sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 2px solid black;
  margin: 10px 70px;    
}

.controls {
	width: 300px;
	padding: 30px 0 0 10px;
  background: #eee;
}

input {
	margin-bottom: 20px;

}
.area {
  display: flex;
  width: 100%;
  overflow: scroll;
  background: #888686;
}

.align-container {
  margin: auto;
}

.drawing-area {
  position: relative;
  margin: 5px;
  background: #fff;
  box-shadow: 0 3px 10px #000;
}

.line-width {
  border-radius: 5px;
  cursor: pointer;
}
.clear {  
  width: 80px;
  padding: 5px;
  border-radius: 3px;
  color: #fff; 
  text-decoration: none; 
  user-select: none; 
  background: rgb(212,75,56);   
  outline: none; 
} 

.clear:hover { 
  background: rgb(232,95,76); 
}

.clear:active { 
  background: rgb(232,95,76); 
}