.save {
  margin-top: 10px;      
}

button {
  margin-left: 5px;
}

.workspace {
	font: 14pt sans-serif; 
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 2px solid black;
  margin: 10px 70px;    
}

.controls {
	width: 300px;
	padding: 30px 0 0 10px;
  background: #eee;
}

input {
	margin-bottom: 20px;

}
.area {
  display: flex;
  width: 100%;
  overflow: scroll;
  background: #888686;
}
.align-container {
    margin: auto;
}
.drawing-area {
    position: relative;
    margin: 5px;
    background: #fff;
    box-shadow: 0 3px 10px #000;
}

.line-width {
  	border-radius: 5px;
  	cursor: pointer;
}
.clear {  
  	width: 80px;
  	padding: 5px;
  	border-radius: 3px;
    color: #fff; 
    text-decoration: none; 
    user-select: none; 
    background: rgb(212,75,56);   
    outline: none; 
} 

.clear:hover { 
  background: rgb(232,95,76); 
}

.clear:active { 
  background: rgb(232,95,76); 
}